body {
  font-family: 'Orbitron', sans-serif;
  background: #111;
}

.blue {
  background: #4f3fff;
}

.green {
  background: #75FF33;
}

.purple {
  background: #CA33FF;
}
.container {
  text-align: center;
  display: grid;
  grid-template-columns: auto 550px auto;
  grid-template-rows: 100px 550px auto;
}

.cell {
  display: inline-block;
  box-sizing: border-box;
  font-size: 0;
  float:left;
}


.drawing-area {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  border: 2px solid #fff;
  margin: 0 auto;
  background: #333;
  width: 512px;
  height: 512px;
}


.nav {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
  background: #fff;
  margin-bottom: 25px;
}

.settings {
  grid-column: 3 / 4;
}

.settings h2 {
  margin: 10px 0;
}
