.container {
  text-align: center;
}

.cell {
  display: inline-block;
  background: #4f3fff;
  box-sizing: border-box;
  font-size: 0;
  float:left;
  opacity: 0;
}

.drawing-area {
  width: 512px;
  height: 512px;
  border: 2px solid #4f3fff;
  margin: 0 auto;
}
